.jumbotron{
  background-color: #40484c;
  color:#81bbbb;
}
.carview{
  flex: 1 150px;
  padding: 2px 6px 2px 6px;
}
.btn{
  width:100%;
  position:auto;
  left: 0;
  bottom: 0;

  background-color:#a50000 ;
  color:#d5ded1;
}
footer{
  padding: 1px 1px 1px;
  background-color: #40484c;
  color:#81bbbb;
  margin-top: 10px;

}
